@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


p{
    text-indent: 40px;
}
body{
     background-color: #84E1AD;
     margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
     
}
img{
    width: 100%;
}
header{
    color: white;
    background-image: linear-gradient(0, #1A5C38, #3CD882);
    height: 130px;
    padding: 10px;
     
}
header h1{
    text-align: center;
}
header p{
    text-align: center;
}
nav{
    text-decoration: none;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav > a:visited{
    color: antiquewhite;
}
nav > a:hover{
    color: aqua;
}
main{
    width: 800px;
    background-color: white;
    margin:0 auto;
    padding: 10px;
    
    
}
main h1{
    font-family: 'idroid';
    font-weight: normal;
    color: #266442;
    

}
main h2{
    font-family: 'idroid';
    font-weight: normal;
    font-size:1.2em;
    color: #266442;
    background-image: linear-gradient(to right,  #C4EBD5, #ffffff);
}

.centralizada{
    display: block;
    margin: 0 auto;
}

main h3{
    background-color: #2FA866;
    color: white;
    margin: 10px 0px 0px 0px;
    padding: 3px;
    border-radius: 10px 10px 0px 0px;
}
.fundo-verde{
    background-color: #1A5C38;
    margin: 0px;
    display: block;
    padding: 0px;
}
.final-da-pag{
    background-color: #C5EBD6;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}
main ul{
    columns: 2;
}
footer{
 background-color: #1A5C38;
 text-align: center;  
 color: white; 
 padding: 1px 0px 1px 0px;
 
}